@{
    ViewData["Title"] = "Home Page";
    var user = "User";
}

<div class="user-container">
      <div class="content">
         <h3>hi, </h3>
            <h1>welcome, @user
            </h1>
         <a href="../FANGJewellerz Website/Components/logout.php" id="userButton"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
</div>    
    <section class="welcome-banner" >
        <div class="welcome-text">
            <h1>Welcome To FairyLand!!!</h1>
            <br/>
            <p>We at Fang Jewellerz are dedicated to developing an efficient and unified system for
                 the e-commerce-based specification of our partner FANGTASTIC. Founded by a team of dental
                  and fashion enthusiasts, Fangtastic combines expertise in dental care with a passion for
                   the latest trends. We are dedicated to offering safe, comfortable, and fashionable tooth gems
                    that cater to every style and personality. Our products are made from top-quality materials, ensuring
                     they are both durable and safe for your teeth.</p>
        </div>
        
    </section>

    <section class="about-section">
        <div class="about-text">
            <h2><u>About Us</u></h2>
            <p>Tooth gems and creative dental adornments have a long and fascinating history, dating back to ancient times. The practice of
                 decorating teeth is rooted in various cultures and has evolved over the centuries to become a modern fashion trend.
                 Tooth gems, as we know them today, began to resurface in the late 20th century, particularly in the 1990s. Influenced by hip-hop
                  culture and the trend of gold teeth and grills, tooth gems started to gain popularity as a more subtle and accessible form of dental
                   decoration. Celebrities and fashion icons began showcasing their sparkling smiles, making tooth gems a fashionable statement.
            </P>
                   <br>

                   <p>Today, tooth gems are embraced by a diverse range of individuals looking to express their unique style. The variety of available designs—from simple,
                    clear crystals to elaborate, custom-made pieces—allows for endless creativity and personalization. Whether used as a subtle enhancement or a bold fashion
                     statement, tooth gems continue to evolve as a form of self-expression and artistry.
                </p> 
                <br />
        </div>
    </section> 

        <section class="auto-container">

            <div class="auto-wrapper">            
                    <img src="~/Images/smile-model-2.jpg" alt="Image 1">
                    <img src="~/Images/smile-model-0.jpg" alt="Image 2">
                    <img src="~/Images/smile-model-1.jpg" alt="Image 3">
            </div>

        </section>
          

    <section class="links-section">
        <h2><u>Quick-Links</u></h2>
        <div class="link-icons">
            <div class="link-img">
                <a href="Products.html"><img src="Images/products-link.jpg" alt="products link" class="circle-logo"></a>
                <h2><u>Products</u></h2>
            </div>
            <div class="link-img">
                <a href="https://booksy.com/en-za/32386_fangtastic-sa_other_54221_johannesburg"><img src="Images/appo-book.webp" alt="bookings icon/link" class="circle-logo"></a>
                <h2><u>Bookings</u></h2>
            </div>
        </div>
    </section>
