@{

}
<section class="gem-history">
    <h2>DID YOU KNOW?!?!...</h2>
    <div class="news-slider-wrapper">
        <div class="news-slider">
            <img src="~/Images/gemNews1.jpg" alt="Image 1" id="slide-1">
            <img src="~/Images/gemNews2.jpg" alt="Image 1" id="slide-2">
            <img src="~/Images/gemNews3.jpg" alt="Image 1" id="slide-3">
        </div>
        <div class="news-slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>
</section>

<section class="reviews">
    <h2>Customer Reviews (You Didn't Just Hear It from Us ;D ) </h2>
    <div class="review-image-row">
        <img src="~/Images/reviews1.jpg" alt="comment 1">
    </div>
    <div class="review-image-row">
        <img src="~/Images/reviews2.jpg" alt="comment 2">
        <img src="~/Images/reviews3.jpg" alt="comment 3">
    </div>
</section>

<section class="about-para" style="background-color: salmon;">
    <h2>Our Commitment</h2>
    <P>
        At FANG JEWELLERZ, we are committed to providing exceptional customer service and ensuring you leave with a smile that truly sparkles.
        We believe in celebrating individuality and empowering our customers to express themselves through their smiles.
        Join us on a journey to make the world a brighter place, one sparkling smile at a time. Thank you for choosing FANG Jewellerz!
    </P>
</section>
